<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
        rel="stylesheet"/>
</head>
<body>
    <main class="login">
        <form action="home" method="post" class="register-form">
              <div class="control-form">
                    <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" class="control" required minlength="6" maxlength="8">
              </div>
              <div class="control-form">
                    <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña" class="control" required minlength="6" maxlength="8">
              </div>
              <div class="send-btn">
                    <button type="submit" ><a href="/">Iniciar Sesión</a></button>
              </div>
        </form>

  </main>

</body>
</html>