@import url("styles.css");

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    
}
body {
    background-color: var(--grisClaro);
    font-family: var(--familia);   
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;    
}

h5 {
    font-weight: normal;
}

/* HEADER */

header {
    background-color: var(--primaryAmarillo);
     padding-top: 20px;
     display: flex;
     flex-wrap: wrap;
    /*padding-bottom: 20px; */
    
}

/* .top-bar {
    border: 1px dotted red;
    display:flex; 
    flex-wrap: wrap; 
    width: 100%;
    height: 9vh;
    justify-content: space-between;
    margin-top: 15px;
    
} */

/* header div.logo a {
    
    justify-content: left;
    width: 50%;
    margin-left: 15px;
}
 */
header div.logo {
    
    width: 46%;
    margin-left: 20px;
    
} /* dentro de header hay un elemento div que tiene una clase logo */

header div.bar-search {
    display: flex;
    width: 45%;
    padding-left: 10px;
    padding-top: 10px;
}

header div.bar-search input {
    display: flex;
    border: none;
   
    height: 7.5vh;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: left;
}

button.magnifying-glass {   
    width: 10%; 
    color: var(--grisOscuro);
    border: none;
    background-color: white;
    height: 7.5vh;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    
}
.magnifying-glass i {
    align-items: flex-end;
    color: var(--grisOscuro);
}

.copy-header {
    display: block;
   
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
header div nav.header-bars {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
}


p {
    font-size: var(--tamañoLetra);
}

header p {
    text-align: center;
    margin-bottom: 20px;
}

.header-bars {
    display: flex;
    justify-content:space-around; 
    flex-wrap: wrap;
    padding-top: 20px;
}

header nav ul li a {
    font-size: var(--tamañoLetra);
    padding: 0 5px;
}

.burguer-menu {
    display: flex;
    background-color: var(--celeste);
    border-radius: 5px;
    color: white;
    width: 27px;
    height: 27px;
    align-items: center;
    justify-content: center;
    margin: 0px auto 20px;
}

/* SECCIONES */

main {
    background-color: var(--grisClaro);
    width: 90%;
    margin: 0 auto;
    display: block;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    
}

img.photo {
    border-bottom: 1px solid var(--grisClaro);    
}
    
/*------------------ PRODUCTOS----------- */
main h4 {
    display: block;
    width: 100%;
    font-size: var(--titulares);
    color: var(--grisOscuro);
    margin: 10px auto 20px 20px;
    text-align: left;
}

article.products {
    background-color: white;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px; 
    width: 100%;
    max-width: 350px;
}

.section__products, .section__offers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
   
}

article.products img.photo {
    width: 100%;
}

article.products .description {
    position: relative;
}

article.products .description i {
    position: absolute;
    top: -38px;
    right: 20px;
}

article.products div.description {
    text-align: left;  
    padding-bottom: 10px;
    margin-left: 15px;
}

article.products .description i {
    
    color: var(--verde);
    margin-top: 20px;
    padding: 5px 5px 15px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    width: 18px;
    height: 7px;
    border-radius:100%;  
    margin-left: 15px;  
}

article.products div.description p.discount {
    color: var(--verde);
    padding-left: 10px;
}

.description {
    display: flex; 
}
.description p.price {
    width: 30%;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    margin-left: -15px;
    margin-top: 13px;
    margin-bottom: 20px;
}
.description p.discount {
    width: 70%;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px
}
article.products .description h5 {
    position: absolute;
    right: 10;
    margin-top: 20px;
}

article.products div.description h5 {
    padding-top: 20px;
    /* font-size: var(--tamañoLetra); */
    font-weight: normal;
    /* font-style:normal; */
}

/* ----------------FOOTER-------------- */
footer {
    display: block;
    padding: 50px 10px 10px;
    background-color: white;
}

footer article.products {
    display: block;
    margin-bottom: 50px;
    text-align: center;
    margin: auto;
}

footer article.products div.icons i {
    color: var(--celeste);
    font-size: 2em;
}

footer span {
    font-size: var(--tamañoLetra);
}


/* MEDIAS QUERIES */

/* MOBILE */
@media screen and (min-width: 320px) {
   /*  header {
        justify-content: space-around;
    } */
    .header-bars {      
        display: none;    
    }

    header div.bar-search input {
       /*  width: 30%;
        display: flex;
        align-items: center; */
        flex-grow: 1;
    }
    
    /* button.magnifying-glass {
       
    } */

    .bar-search input:focus {
        outline: none;
    }
    .bar-search input::placeholder {
        color: var(--grisOscuro);
        font-family: var(--familia);
    }

    main h5 {
        display: none;
    }

    header div.burguer-menu {
        display: block;
    }

    article.products {  
        max-width: 390px;
    }

    article.products .description i {
        font-size: 80%;
        width: 12px;
        height: 3px;
        border-radius:100%;  
        margin-left: 15px;  
    }
}

/* TABLET */
@media screen and (min-width: 720px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    header div.logo {
    
    width: 28%;
    padding-left: 20px;
} 
    header div.bar-search {
        width: 28%;
        align-items: center;
    }

    header div.bar-search input {
    font-size: var(--tamañoLetra);
    color: var(--grisOscuro);
    display: block;
    border: none;
    width: 100px;
    height: 2vh;
    
    border-radius: 0;
    margin-right: 10px;
}

    button.magnifying-glass { 
    width: 18px;   
    border: 1px solid var(--grisOscuro);
    border-radius: 0;
    background-color: white;
    height: 2vh;
    margin-right: 20px;
    
}

    .copy-header {
   
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: var(--tamañoLetra); 
    width: 384px;
    margin-right: 10px;
    padding-top: 20px;
    justify-content: right;
    
}

    .header-bars {
    
    width: 100%;
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-right: 20px ;
    margin-left: 20px;
}

    .header-bars ul li {
        display: flex;
        flex-direction: row;
        padding: 0 5px;  
    }
    
    .header-bars ul.top-list2 li a{
       display: flex;
       flex-direction: row;

    }
    
    main article.products {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main h5 {
        display: block;
    }

    .burguer-menu {
        display: none;
    }

    .section__products, .section__offers {
        justify-content: space-around;
    }

    article.products {  
    max-width: 255px;  
    padding: 30px;
}

    article.products .description i {
        font-size: 100%;
        width: 18px;
        height: 9px;
        border-radius:100%;  
        margin-left: 15px;  
    }
}

/* DESKTOP */

@media screen and (min-width: 1024px) {
    
    .header-bars ul {
        display: flex;
    }

    .header-bars li {
        margin: 0 10px;
    }

    main article.products {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    main h5 {
        display: block;
    }

    .burguer-menu {
        display: none;
    }

    .section__products, .section__offers {
        justify-content: space-around;
    }

    article.products {  
        max-width: 220px;
        padding: 0;
    }  

    article.products .container i {
        position: absolute;
        top: 317px;
        right: 20px;
    }
}